<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title>
</head>
<body>
    <h1> FORMULARIO DE OPERACION A REALIZAR </h1>
    <h2> Completa con un "SI" la operacion que solicites y con "No" aquellas que no solicites </h2>
    <form action="/AppEntrega1/operacion_formulario/" method="POST" > {% csrf_token %}
        
        <table>

            {{ formulario.as_table }}


        </table>
        <input type="submit" value="Enviar">



    </form>
</body>
</html>